/* Opinionated Global Styling
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-text bg-cover;
    background-color: #272232;
  }

}

@layer components {

  /* Header */
  .search-box {
    border-radius: 999px;
    @apply outline outline-1 outline-neutral-600 transition-all bg-bg bg-opacity-10;
  }

  .search-box:focus {
    @apply outline outline-2 outline-neutral-300;
  }

  /* Page Template */
  .subheader {
    @apply font-bold text-4xl mb-5;
  }

  /* Guides */
  .card-tag-chip {
    @apply px-2 font-bold rounded-full text-bg
  }

  .tag.new {
    background-color: #D1D35A;
  }

  .tag.long {
    background-color: #D3945A;
  }

}