---
/* TODO:
 * Write page description
 */

import Layout from "../layouts/BaseLayout.astro";
import Card from "../components/home/GuideCard.astro";
import logo from "../assets/KQM_HSR_Logo_Full.png";
import Header from "../components/Header.astro";
import type MDPost from "../types/MDPost";
import Searchbar from "../components/Searchbar.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const guides = (await Astro.glob("./guides/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
) as MDPost[];
---

<script>
  // remove search bar from nav
  const searchbar = document.getElementById("nav-searchbar")
    ?.parentElement as HTMLElement;
  searchbar.classList.add("opacity-0");
  searchbar.inert = true;
</script>
<Layout title="KQM Honkai Star Rail: Guides and Theorycrafting" description="">
  <main class="flex items-center flex-col">
    <Header logo={logo} />
    <div class="my-12 w-10/12 max-w-[720px] lg:w-5/12 lg:min-w-[600px]">
      <Searchbar
        id="main-searchbar"
        className="w-full"
        placeholder="Search for guides, characters, and more..."
      />
    </div>
    <section class="py-6 px-12 bg-bg rounded-lg">
      <h2 class="subheader">What's New</h2>
      <ul class="flex flex-wrap gap-4 lg:gap-8">
        {guides.map((g) => <Card {...g} />)}
      </ul>
    </section>
  </main>
</Layout>

<style></style>
