---
/**
 *
 */

// trail: array of titles, ending in the current page
export interface Props {
  trail: string[];
  className?: string;
}

const { trail, className } = Astro.props;
---

<nav aria-label="Breadcrumbs" class={className ?? ""}>
  <ol>
    {
      trail.map((crumb, i) => (
        <li class="inline subtitle text-xs">
          <a
            href={
              i !== trail.length - 1
                ? "./" + "../".repeat(trail.length - 2 - i)
                : ""
            }
            aria-current={i === trail.length - 1 ? "page" : undefined}
          >
            {crumb}
          </a>
        </li>
      ))
    }
  </ol>
</nav>

<style>
  nav li + li::before {
    content: "";
    display: inline-block;
    margin: 0 0.25em;
    transform: skew(-18deg) translateY(0.05em);
    border-right: 0.2em solid currentcolor;
    height: 0.9em;
  }
</style>
