---
export interface Props {
	logo: string;

}

const { logo } = Astro.props;
---
<img src={logo} alt="KQM: Honkai Star Rail" style="max-width: 200px;">
		<h1>KQM: Honkai Star Rail </h1>
			<h2> [discord] [youtube] [twitch]| Guides and Theorycrafting </h2>


			
<style>

</style>