---
/* TODO:
 * Add dropdown for data bank
 * Add arrow key support for moving between menu items
 */
import { Image } from "astro:assets";
import logo from "../assets/logo_full.png";
import ExpandDown from "./ui/ExpandDown.astro";
import Hamburger from "./ui/Hamburger.astro";
import Searchbar from "./Searchbar.astro";
---

<script>
  const navMenuToggle = document.querySelector(
    "#button-toggle-nav"
  ) as HTMLButtonElement;
  const navMenu = document.querySelector("#container-nav-links") as HTMLElement;
  const nonNav = document.querySelectorAll(
    "main, footer"
  ) as NodeListOf<HTMLElement>;

  // Prevent navbar from staying inert if resizing screen
  function handleResize() {
    const width =
      window.innerWidth ||
      document.documentElement.clientWidth ||
      document.body.clientWidth;
    if (width < 640 && navMenuToggle.ariaExpanded === "false") {
      navMenu.inert = true;
    } else if (navMenu.inert) {
      navMenu.inert = false;
    }
  }
  handleResize();
  window.addEventListener("resize", handleResize);

  // Show / Hide the navigation menu on mobile
  function toggleNavMenu() {
    if (navMenuToggle.ariaExpanded === "true") {
      navMenuToggle.ariaExpanded = "false";
      navMenu.classList.add("-translate-y-full");
      navMenu.inert = true;
      nonNav.forEach((el) => (el.inert = false));
    } else {
      navMenuToggle.ariaExpanded = "true";
      navMenu.classList.remove("-translate-y-full");
      navMenu.inert = false;
      nonNav.forEach((el) => (el.inert = true));
    }
  }
  navMenuToggle?.addEventListener("click", toggleNavMenu);
</script>

<header class="w-full sticky top-0">
  <nav
    class="grid min-h-[60px] grid-cols-[auto_1fr_auto] items-center bg-bg bg-opacity-90 px-4"
  >
    <a href="/" class="flex items-center gap-2">
      <Image src={logo} height={52} alt="" />
      <span class="text-lg font-bold pt-2 font-serif flex items-center gap-2">
        KQM: Star Rail
        <ExpandDown width="12px" height="7px" />
      </span>
    </a>
    <div class="lg:hidden"></div>
    <button
      id="button-toggle-nav"
      class="lg:hidden mt-1 mr-2 p-2 z-50"
      aria-controls="container-nav-links"
      aria-expanded="false"
    >
      <Hamburger width="32" height="32" />
    </button>
    <div
      id="container-nav-links"
      class="-translate-y-full min-h-screen right-0 left-0 top-0 px-12 py-16 bg-bg transition-transform absolute lg:contents overflow-hidden"
    >
      <ul
        id="nav-links"
        class="flex flex-col lg:flex-row text-base font-bold gap-12 lg:gap-8 justify-center"
      >
        <li>
          <a href="/guides" id="nav-links-guides" class="navlink">GUIDES</a>
        </li>
        <li>
          <span id="nav-links-data" class="navlink flex align-center gap-2">
            DATA BANK
            <ExpandDown className="h-full" width="12px" height="7px" />
          </span>
        </li>
        <li><a href="about" id="nav-links-about" class="navlink">ABOUT</a></li>
        <li>
          <a href="contact" id="nav-links-contact" class="navlink">CONTACT</a>
        </li>
      </ul>
      <Searchbar id="nav-searchbar" />
    </div>
  </nav>
</header>

<style>
  li {
    display: contents;
  }

  .navlink {
    position: relative;
    padding-top: 8px;
    padding-left: 24px;
  }
  .navlink::before {
    content: "";
    background-size: contain;
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    top: -8px;
    left: 0;
    opacity: 25%;
  }
  #nav-links-guides:before {
    background-image: url("~/assets/ui/icon_guide.png");
  }
  #nav-links-data:before {
    background-image: url("~/assets/ui/icon_data.png");
  }
  #nav-links-about:before {
    background-image: url("~/assets/ui/icon_team.png");
  }
  #nav-links-contact:before {
    background-image: url("~/assets/ui/icon_contact.png");
  }
</style>
