---
export interface Props {
  id: string;
  className?: string;
  placeholder?: string;
}

const { id, className, placeholder } = Astro.props;
---

<label for={id} class="relative w-full">
  <input
    type="text"
    id={id}
    class=`${className ?? ""} search-box py-2 pl-10 pr-4 peer`
    placeholder={placeholder}
  />
  <svg
    class="stroke-neutral-600 peer-focus:stroke-neutral-300 absolute top-0 bottom-0 my-auto left-2 transition-all"
    width="24px"
    height="24px"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M15 15L21 21M10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10C17 13.866 13.866 17 10 17Z"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
    </path>
  </svg>
</label>
