---
/* TODO:
 * Write Page
 */

/* BREAKPOINTS: MD, LG */

import CharacterCard from "components/data/CharacterCard.astro";
import Layout from "layouts/Data.astro";
import type { Character } from "types/game-data";
import elements from "util/elements";
import paths from "util/paths";

const chars = (await Astro.glob("/src/data/characters/*.json")) as Character[];
---

<Layout title="Characters" description="">
  <main class="flex items-center flex-col">
    <section class="card-bg p-4 md:p-8">
      <h1 class="subheader">Characters</h1>
      <ul
        class="grid gap-x-4 gap-y-8 grid-cols-[repeat(auto-fill,minmax(120px,1fr))] md:grid-cols-[repeat(auto-fill,minmax(120px,1fr))] list-none"
      >
        {
          chars
            .sort(
              (a, b) =>
                b.rarity - a.rarity ||
                paths.indexOf(a.path) - paths.indexOf(b.path) ||
                elements.indexOf(a.element) - elements.indexOf(b.element)
            )
            .map((c) => <CharacterCard {...c} />)
        }
      </ul>
    </section>
  </main>
</Layout>

<style></style>
