---
import TabContent from "components/tabpage/TabContent.astro";
export interface Props {
  id: string;
}

const { id } = Astro.props;
---

<TabContent id={id} class="border-theme-400 my-3 border-4 rounded-2xl">
  <div class="m-4 text-2xl">
    <img class="inline" width="48" height="48" src={`|img|${id}|`} />
    <span class="font-bold">|type|{id}|</span>
    <span>|</span>
    <span class="italic">|name|{id}|</span>
  </div>
  <slot />
</TabContent>
