---
export interface Props {
  char: string;
  image: string;
  type: string;
}

const { image, char, type } = Astro.props;
---

<div class="flex flex-col items-center">
  <img src={`|icon|${type}|`} class="w-16 h-16" />
  <span class="subsubheader">{type}</span>
</div>
