---
export interface Props {
  title: string;
  description: string;
}
import "styles/a11y.css";
import "styles/reset.css";
import "styles/global.css";
import Nav from "components/Nav.astro";
import Footer from "components/Footer.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-main bg-fixed">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" />
  </head>
  <body class="grid grid-rows-[60px_1fr_auto]">
    <Nav />
    <hr class="opacity-0" />
    <div class="mb-24">
      <slot />
      <hr class="mt-auto opacity-0" />
    </div>
    <Footer />
  </body>
</html>

<!-- Global Styles
TODO: MOVE THEM. -->
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
