---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import background from "../assets/planet_edit3.png";
---

<!DOCTYPE html>
<html lang="en">
	<!-- <img src={background} alt="nothing here"> -->
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<!-- Global Styles
TODO: MOVE THEM. -->
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-image: url({background});
		background-repeat: no-repeat;
		background-color: #272232;
    	color: #fff;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
