---
import rarities from "styles/dynamic/rarity-colors";

export interface Props {
  rarity: number;
  className?: string;
}
const { rarity, className } = Astro.props;
---

<span class=`${className ?? ""} ${rarities[rarity]} tracking-tighter`>{"✦".repeat(rarity)}</span>
